[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
antlr4-python3-runtime = "*"

[dev-packages]
antlr4-tools = "*"

[requires]
python_version = "3.10"

[scripts]
gen_compiler = "antlr4 -Dlanguage=Python3 src/grammar/BroLang.g4 -o src/compiler -Xexact-output-dir -visitor"